<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
    <div class="et_pb_row et_pb_row_0">
        <div
            class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div
                class="et_pb_module et_pb_text et_pb_text_0 et_clickable  et_pb_text_align_left et_pb_bg_layout_light et_multi_view__hover_selector et_had_animation">
                <div class="et_pb_text_inner et_multi_view_swapped">
                    <p class="navi-title">New, Bigger Sizes!</p>
                    <p class="navi-content">Enjoy our bestselling body and hair
                        staples,<br> now available in a family friendly 32 or size
                    </p>
                    <p class="navi-footer">XEM CHI TIẾT</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->