<article id="post-13" class="post-13 page type-page status-publish hentry">
    <div class="entry-content">
        <div id="et-boc" class="et-boc">
            <div class="et-l et-l--post">
                <div class="et_builder_inner_content et_pb_gutters3">
                    <app-slide></app-slide>
                    <div class="introduce et_pb_section et_section_regular">
                        <div class="introduce_block">
                            <div class="introduce_item">
                                <div class="introduce_title">GIỚI THIỆU CHUNG VỀ CÔNG TY
                                    <img class="leaf-icon" src="./assets/img/leaf.gif" width="35"
                                        height="15">
                                </div>
                                <div class="introduce_content">
                                    <p>I've tried all sorts of things, but cannot repro this. If you are
                                        interested, we can do a web-hosted screenshare so </p>
                                </div>
                                <div class="introduce_content">
                                    <p>I've tried all sorts of things, but cannot repro this. If you are
                                        interested, we can do a web-hosted screenshare so I can see
                                        what's going on and try and help get to the bottom of this. All
                                        you need is an internet connection (and a phone line if you
                                        don't have a microphone). I'll follow up with an </p>
                                </div>
                                <div class="introduce_content">
                                    <p>I've tried all sorts of things, but cannot repro this. If you are
                                        interested, we can do a web-hosted screenshare </p>
                                </div>
                            </div>
                            <div class="introduce_item">
                                <div class="introduce_img">
                                    <div class="back_img"></div>
                                    <div class="img-border">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="introduce_block" style="flex-direction: row-reverse;">
                            <div class="introduce_item">
                                <div class="introduce_title">GIỚI THIỆU CHUNG VỀ SẢN PHẨM
                                    <img class="leaf-icon" src="./assets/img/leaf.gif" width="35"
                                        height="15">
                                </div>
                                <div class="introduce_content">
                                    <p>I've tried all sorts of things, but cannot repro this. If you are
                                        interested, we can do a web-hosted screenshare so </p>
                                </div>
                                <div class="introduce_content">
                                    <p>I've tried all sorts of things, but cannot repro this. If you are
                                        interested, we can do a web-hosted screenshare so I can see
                                        what's going on and try and help get to the bottom of this. All
                                        you need is an internet connection (and a phone line if you
                                        don't have a microphone). I'll follow up with an </p>
                                </div>
                                <div class="introduce_content">
                                    <p>I've tried all sorts of things, but cannot repro this. If you are
                                        interested, we can do a web-hosted screenshare </p>
                                </div>
                            </div>
                            <div class="introduce_item">
                                <div class="introduce_img">
                                    <div class="back_img_2"></div>
                                    <div class="img-border">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .et-l -->
        </div><!-- #et-boc -->
    </div> <!-- .entry-content -->
</article> <!-- .et_pb_post -->
