<article id="post-13" class="post-13 page type-page status-publish hentry">
    <div class="entry-content">
        <div id="et-boc" class="et-boc">
            <div class="et-l et-l--post">
                <app-break></app-break>
                <div class="product et_pb_section et_section_regular">
                    <ul>
                        <li>
                            <div class="image-product">
                                <img src="./assets/img/product_1.gif">
                            </div>
                            <div class="tittle-product">Bacteriostatic Shampoo</div>
                            <div class="moreinfo-product">
                                <p class="price-product">150.000 đ</p>
                                <ul class="rate-product">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="image-product">
                                <img src="./assets/img/product_2.gif">
                            </div>
                            <div class="tittle-product">Allantoin VE Ointment</div>
                            <div class="moreinfo-product">
                                <p class="price-product">150.000 đ</p>
                                <ul class="rate-product">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="image-product">
                                <img src="./assets/img/product_3.gif">
                            </div>
                            <div class="tittle-product">Black Bean Distillate Oil</div>
                            <div class="moreinfo-product">
                                <p class="price-product">150.000 đ</p>
                                <ul class="rate-product">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="image-product">
                                <img src="./assets/img/product_4.gif">
                            </div>
                            <div class="tittle-product">Bacteriostatic Shower Gel</div>
                            <div class="moreinfo-product">
                                <p class="price-product">150.000 đ</p>
                                <ul class="rate-product">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- .et-l -->
        </div><!-- #et-boc -->
    </div> <!-- .entry-content -->
</article> <!-- .et_pb_post -->